
<div class="form-row">
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.cpf) }}
            {{ form_widget(form.cpf) }}
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            {{ form_label(form.roles) }}
            {{ form_widget(form.roles) }}
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            {{ form_label(form.password) }}
            {{ form_widget(form.password) }}
        </div>
    </div>
</div>

<a href="{{ path('user_pessoa_index_admin')}}" class="btn btn-outline-secondary btn-sm">
    <i class="fa fa-arrow-circle-left"></i> Voltar
</a>
<button class="btn btn-outline-primary btn-sm float-right">
    <i class="fa fa-save"></i> Salvar
</button>