<!doctype html>
<html>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <title>VigSan-RJ - {% block title %}{% endblock %}</title>
    <link href="{{ asset('fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
    <link rel="icon" href="https://jbfsi.com.br/wp-content/uploads/2020/01/icone_jbf.ico" sizes="32x32" type="image/png">
    <link rel="icon" href="https://jbfsi.com.br/wp-content/uploads/2020/01/icone_jbf.ico" sizes="16x16" type="image/png">
    <link rel="icon" href="https://jbfsi.com.br/wp-content/uploads/2020/01/icone_jbf.ico">
  
    <link href="{{ asset('css/sb-admin-2.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/estilo.css') }}" rel="stylesheet">
    <link href="{{ asset('css/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion no-print" id="accordionSidebar">
                 <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                    <div class="sidebar-brand-icon">
                    <i class="fas fa-clipboard-list"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">VigSan-RJ <sup>1.0</sup></div>
                </a>
                <hr class="sidebar-divider my-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('painel_admin') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Painel Administrativo</span></a>
                </li>
                <hr class="sidebar-divider">
                <div class="sidebar-heading">
                    Menu
                </div>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAt" aria-expanded="true" aria-controls="collapseAt">
                     <i class="fas fa-user-injured"></i>
                    <span>Paciente</span>
                    </a>
                    <div id="collapseAt" class="collapse" aria-labelledby="headingFin" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Funções:</h6>
                             <a class="collapse-item" href="{{ path('cidadao_index_admin') }}">
                                <i class="far fa-list-alt"></i>
                                Listar
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFin" aria-expanded="true" aria-controls="collapseFin">
                     <i class="fas fa-building"></i>
                    <span>Unidade</span>
                    </a>
                    <div id="collapseFin" class="collapse" aria-labelledby="headingFin" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Funções:</h6>
                            <a class="dropdown-item" href="{{ path('unidade_index_admin') }}">
                                <i class="fas fa-list-alt"></i>
                                Listar
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseU" aria-expanded="true" aria-controls="collapseU">
                     <i class="fas fa-users"></i>
                    <span>Login</span>
                    </a>
                    <div id="collapseU" class="collapse" aria-labelledby="headingU" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Funções:</h6>
                            <a class="dropdown-item" href="{{ path('user_admin_index') }}">
                                <i class="fas fa-list-alt"></i>
                                Administradores
                            </a>
                            <a class="dropdown-item" href="{{ path('user_pessoa_index_admin') }}">
                                <i class="fas fa-list-alt"></i>
                                Funcionários
                            </a>
                        </div>
                    </div>
                </li>
                 <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Comorbidades
                </div>

                <!-- Item Formularios-->
                <li class="nav-item">
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="{{ path('comorbidade_index_admin') }}">
                            <i class="fas fa-fw fa-list"></i>
                            <span>Listar</span>
                        </a>
                    </li>                    
                </li>
                <hr class="sidebar-divider d-none d-md-block">
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>
            </ul>    
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow no-print">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                        <ul class="navbar-nav ml-auto">
                            <div class="topbar-divider d-none d-sm-block"></div>

                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                        {{ app.user.nome }}
                                    </span>
                                    <i class="fa fa-user"></i>
                                </a>
                            
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="{{ path('user_pessoa_edit_admin', {'id': app.user.id }) }}">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Editar
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('admin_logout') }}">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Sair
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <div class="container-fluid">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                        {% block body %}{% endblock %}
                    </div>
                
                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 2019</span>
                    </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <script src="{{ asset('jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('jquery-easing/jquery.easing.min.js') }}"></script>
        <script src="{{ asset('js/sb-admin-2.min.js') }}"></script>
        <script src="{{ asset('datatables/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('datatables/dataTables.bootstrap4.min.js') }}"></script>
        <script src="{{ asset("js/jquery.mask.min.js") }}"></script>
        <script src="{{ asset("js/chart.js/Chart.min.js") }}"></script>
        <script src="{{ asset("js/jquery.mask.min.js") }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>