{% extends 'admin/base.html.twig' %}

{% block title %}Comorbidade{% endblock %}

{% block body %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Listagem de Comorbidades</h6>
        {% if not is_granted('ROLE_UNIDADE') %}
        <a href="{{ path('comorbidade_new_admin') }}" class="btn btn-outline-success btn-sm float-right mb-2">
            <i class="fa fa-plus-circle"></i>
            Novo
        </a>
        {% endif %}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                {% for comorbidade in comorbidades %}
                    <tr>
                        <td>{{ comorbidade.id }}</td>
                        <td>{{ comorbidade.nome }}</td>
                        <td>
                            <div class="btn-group">
                                <a href="{{ path('comorbidade_show_admin', {'id': comorbidade.id}) }}"
                                    class="btn btn-sm btn-outline-primary">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="{{ path('comorbidade_edit_admin', {'id': comorbidade.id}) }}"
                                    class="btn btn-sm btn-outline-primary">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">nenhum registro encontrado</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function() {
  $('#dataTable').DataTable({
      "language": {
          "url": "../../../datatables/portuguese-brasil.json"
      }
  });
});
</script>
{% endblock %}
